
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Georgia;
    outline: none;
    text-decoration: none;
    color: black;
  }
  
  html{
    background-image: url("../images/rock_the_vote.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .app {
   
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color:rgb(47, 79, 79);
  }
  
  .auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .auth-container > h1 {
    font-size: 2em;
    margin: 24px;
  }
  
  .auth-container > p {
    margin: 16px;
    text-decoration: underline;
  }
  
  .auth-container > form {
    border: 1px solid #3339;
    padding: 20px;
    border-radius: 5px;
    background-color:darkslategrey;
  
    display: flex;
    flex-direction: column;
  }
  
  .auth-container > form > input {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
    color: black;
  }
  
  .auth-container > form > button {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: blue;
  }
  
  .todo-list {
  border: 0.5px solid whitesmoke;
  }
  
  .todo {
  margin: 10px;
  }
  
  .public {
    height: 100vh;
  }
  
  .profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  
  .profile > h1 {
    margin: 8px;
    font-size: 2em;
    text-align: center;
  }
  
  .profile > h3 {
    margin: 16px 0;
    margin-right: 5px;
    text-decoration: underline;
  }
  
  .profile > form {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    border: 1px solid #3339;
    background-color: darkslategray;
    padding: 16px;
    border-radius: 5px
  }
  
  .profile > form > input,
  .profile > form > button {
    background-color: whitesmoke;
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px;
  }

  .likeButton{
background-color: lightblue;
  }

  .dislikeButton{
    background-color: red;
  }

  .imgTodo{
    border: 8px solid #137a7a;
  }

  @media only screen and (min-width: 360px) and (max-width: 720px){

    .profile {
      
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
    }
  }
  
  /*Tablet*/
  @media only screen and (min-width: 721px) and (max-width: 1024px){
    .profile{
      justify-content: space-between;
      flex-direction: column;
      align-items: stretch;
    }
  }
  
  /*Laptop*/
  @media only screen and (min-width: 1025px) and (max-width: 1440px){
   
    .profile{
      flex-direction: column;
      align-items: stretch;
    }
  }